.section-container {
  width: var(--cWidth);
  max-width: var(--cMaxWidth);
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.title,
.para {
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@media only screen and (max-width: 1600px) {
  .section-container {
    max-width: 1300px;
  }
}

@media only screen and (max-width: 1200px) {
  .section-container {
    max-width: 100%;
  }
}

